/*nevigation*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    font-family: Open Sans;
    font-style: normal;
    
}
.list{
    list-style-type: none;
    text-align: center;
    display:block;
    
}
.list .item{
    display: inline-block;
    padding: 22px 10px;
    
}
.header a{
    text-decoration: none;
    color: #183B56;
}
li button{
    border: 2px solid #1565D8;
    box-sizing: border-box;
    border-radius: 8px;
    background-color:white;
    color: #1565D8;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    padding:7px;
    margin: auto;
  
}
li button:hover{
    color:white;
    box-shadow: 1px 1px 1px #1565D8;
    
}
.expand-part{
    width:25px;
    height: 3px;
    background-color: black;
    margin-bottom:4px;
    
}
.line{
    
    height:0.5px;
    background-color: grey;
    margin-top: 10px;
}
.expand{
    display: none;
}

@media all and (max-width:510px){
    .header{
        flex-direction: column;
        position: relative;
    }
    .expand{
        display:block;
        position:absolute;
        right:15px;
        top:15px;
    }
    .logo{
        width: 100%;
    }
    .icon{
        
        margin-left: 10px;
        margin-top: 10px;
    }
    .list .item{
        display: block;
        
        border-top: 1px solid navy;
        
    }
    .list{
        list-style-type: none;
        width:80%;
        text-align: center;
        padding-top: 10px;
        display: none;
    }
    .active{
        display:block;
    }
}
/*section*/
.container{
    position: relative;
    max-width: 360px;
    margin:0px auto;
    padding: 80px 0;
}
.container .logo-button{
    width: 100%;
    height:50px;
    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    background-color:#1565D8; 
    border: 2px solid #1565D8;
    border-radius: 5px;
    display: flex;
    justify-content:flex-start;
    align-items:center;
    padding: 5px;
    
}
.logo-button:hover{
    background-color:  #155fc0;
    border: 2px solid #155fc0;
    box-shadow: 1px 1px 1px #1565D8;
    
}
.container .signin-button{
    width: 100%;
    height:50px;
    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    background-color:#1565D8; 
    border: 2px solid #1565D8;
    border-radius: 5px;
    align-items:center;
}
.signin-button:hover{
    background-color:  #155fc0;
    border: 2px solid #155fc0;
    box-shadow: 1px 1px 1px #1565D8;
}
input[type=email], input[type=password], input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border-radius: 5px;
    border: 0.5px solid grey;
}
input[type=email]:focus, input[type=password]:focus ,input[type=text]:focus {
    background-color: #ddd;
    outline: none;
    border-radius: 5px;
    border: 0.5px solid grey;
}
lable{
    color: #999999;
}
.remember-box{
    display: flex;
    font-size: 13px;
    justify-content:space-between;
}
.arrow {
  border: solid #1565D8;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.down{
    transform: rotate(180deg);
  -webkit-transform: rotate(135deg);
}
.error-division{
    position: absolute;
    width: 100%;
    height: 200px;
    top: 300px;
    padding: 5px 12px;
    
}
.error-division button{
    width: 150px;
    height:50px;
    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    background-color:#1565D8; 
    border: 2px solid #1565D8;
    border-radius: 5px;
    align-items:center;
}
button:hover{
    background-color:  #155fc0;
    border: 2px solid #155fc0;
    box-shadow: 1px 1px 1px #1565D8;
}
